#app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.content-wrapper .title {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 16px;
  margin-top: var(--chakra-spacing-4);
  color: var(--chakra-colors-white);
  font-size: clamp(2rem, 4vw, 2.6rem);
  line-height: 1.2;
  text-align: center;
  /* letter-spacing: -2px; */
  max-width: 18ch;
  font-weight: var(--chakra-font-weights-bold);
}
.content-wrapper .subtitle {
  /* text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 16px; */
  /* margin-top: var(--chakra-spacing-4); */
  /* color: var(--chakra-colors-white); */
  font-size: clamp(1.2rem, 2.1vw, 1.8rem);
  line-height: 1.2;
  text-align: center;
  letter-spacing: -2px;
  /* font-weight: var(--chakra-font-weights-bold); */
}

.contact-me-button {
  margin-top: 40px;
}
